/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Lora', serif;
	color: black;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
}
h1 {
	font-size: 52px;
	margin-top: 0;
}

h2 {
	font-size: 36px;
	color: #3e606b;
	margin-top: 0;
}

h3 {
	font-size: 18px;
	color: #3e606b	;
}

.blok {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

/* -- Hlavička -- */

.hlavicka {
	display: flex;
	margin: 30px auto;
	justify-content: space-between;
	align-items: center;
}

.logo {	
	width: 170px;
}

.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu a {
	text-decoration: none;
	padding: 10px 15px;
}

.menu a:hover {
	background-color: #f195b2;
	color: white;
	border-radius: 20px;
}

/* -- Hero sekce s obrázkem a hlavním nadpisem -- */

.pozadiobrazek {
	background-image: url("/images/cupcake.jpg");
	background-color: black;
	background-size: cover;
}
.herosekce {
	color: white;
	padding: 80px 0;
}

.herosekce p {
	width: 60%;
	font-size: 24px;
	font-style: italic;
}

.herosekce h1 {
	width: 60%;	
}

/* -- sekce Vítejte v naší cukrárně -- */

.pozadityrkys {
	background-color: white;
}

.uvitani {
	display: flex;
	padding: 80px 0;
	align-content: stretch;
	max-width: 1100px;
}

.levysloupec,
.pravysloupec {
	flex: 0 0 50%;
}

.pravysloupec {
	background-color: white;
}

.pravysloupec img {
	border-radius: 5px;
}

.levysloupec {
	background-color: white;
	padding: 20px 30px 30px 10px;
}

.posledni {
	margin-bottom: 0;
	padding-bottom: 30px;
}

.levysloupec a {
	text-decoration: none;
	padding: 15px 40px;
	color: white;
	background-color: #d2567d;
	border-radius: 30px;
	margin: 30px;
}

.levysloupec a:hover {
	background-color: #f195b2;
	color: white;
	border-radius: 20px;
}

.cukrarka img {
	width: 100%;
	padding: 5px;
	vertical-align: bottom;
	border-radius: 10px;
}

/* -- sekce Dnešní nabídka -- */

.pozadisede {
	background-color: #f0f0f0;
	padding: 80px;
}

.produkty {
	display: flex;
	align-items: center;
	max-width: 1100px;
	justify-content: space-between;
}

.produkty h3,
.produkty p {
	background-color: white;
}

.produkty p {
	margin: 0;
	padding: 0 20px 20px 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.produkty h3 {
	margin: 0;
	padding: 20px;
	text-align: center;
}

.produkt1,
.produkt2,
.produkt3,
.produkt4 {
	flex-basis: calc((100% - 90px) / 4) ;
	flex-grow: 0;
}

.produkt1 img,
.produkt2 img,
.produkt3 img,
.produkt4 img {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	vertical-align: bottom;
}

/* -- sekce Náš přístup k pečení -- */

.pristuppeceni {
	display: flex;
	padding: 80px 0;
	align-content: stretch;
}

.levypristup,
.pravypristup {
	flex: 0 0 50%;
}

.levypristup img {
	width: 100%;
	border-radius: 5px;
	vertical-align: bottom;
}

.pravypristup {
	padding-left: 30px;
}

footer p {
	margin: 0;
}

footer {
	padding:30px;
	text-align: center;
	background-color: #303339;
	color: white;
}



